{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<!-- <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height"> -->
               <div class="login_section" style="margin-top: 20px;">
                  <div class="logo_login">
                     <div class="center">
                        <h3 style="color: aliceblue;">Send Complaints</h3>
                     </div>
                  </div>
                  <div class="login_form">
                  {% for msg in messages %}
                                            <h6 style="color: red; text-align: center;
                                            padding-top: 11px;padding-bottom: 11px;border-radius: 10px;">{{msg}}</h6>
                                        {% endfor %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="field">
                                <label class="label_field">Message</label>
                                <textarea name="message" placeholder="Enter Message... " rows="4" cols="50"></textarea><br>
                            </div>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt" type="submit">Send</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}