{% extends 'chief/base.html' %}
{% load static %}
{% block content %}
<div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Manage Complaints</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>View Complaints <small></small></h2>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <div class="table-responsive-sm">
                                        {% for msg in messages %}
                                            <h6 style="color: red; text-align: center;
                                            padding-top: 11px;padding-bottom: 11px;border-radius: 10px;">{{msg}}</h6>
                                        {% endfor %}
                                          <table class="table table-striped projects">
                                             <thead class="thead-dark">
                                                <tr>
                                                
                                                    <th >Date</th>
                                                    <th >Name</th>
                                                    <th >Mobile No</th>
                                                   
                                                   <th>Message</th>
                                             
                                              
                                                   
                                                   
                                                </tr>
                                             </thead>
                                             <tbody>
                                             {% for i in view %}
                                                <tr>
                                                    
                                               
                                                   <td>{{i.date}}</td>
                                                   <td>{{i.user.name}}</td>
                                                   <td>{{i.user.mobile}}</td>
                                                   <td>{{i.message}}</td>

                                                   
                                                   
                                                    
                                                </tr>
                                            {% endfor %}
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
                  <!-- end dashboard inner -->
               </div>

{% endblock %}